

<div class="container">

  <table border = "5"  align="center" style="height:200px;width:900px">
<td >


<div class="col-sm-6">
      <img src="/assets/tests.jpg"  align="top" style="width:100px;height:100px;">
  <br /> <br />
        <label for='name'><b>Packaging and Product<br>Testing And Consulting,Inc<b>
        <p> 4090, Thunderbird lane</p>
        <p> Fairfield, OH 45014</p>
        <p> Phone: (513)870-0080 </p>
        <p> Fax (513) 870-0017 </p>
        <p> ISO 17025 ACCREDITED </p> </label>
<% f = @home%>

  <div class="field">
    <%= "istm_no" %><br>
    <%= f.istm_no %>
  </div>
  <div class="field">
    <%=  "istm_name" %><br>
    <%= f.istm_name %>

    </div>
  <div class="field">
    <%= "company_name" %><br>
    <%= f.company_name %>
  </div>
  <div class="field">
    <%= "date" %><br>
    <%= f.date %>
  </div>
</div>

<div class="col-sm-6 pull-right">
    <img class="img-responsive" alt="Brand" src="/assets/tests.jpg" style="width:700px;height:500px" >
</div>
</td>
</table>
</div>
<% end %>
</div>
